body{
    background:green;
}
.title{
    color: grey;
}
/*.flex-container{
    display:flex;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}*/
.post-box{
    justify-content:center;
    width: 40%;
    height: 200px;
    max-height: 300px;
    align-items: center;
    justify-content:center;
    border: 2px solid red;
    background: #F8FA9D;
    margin: 5px;
    /*overflow:hidden;
    text-overflow: ellipsis;*/
  }
.box{
    align-items: center;
    /*justify-content:center;*/
    border: 2px solid red;
    background: #F8FA9D;
  }
.summary{
    white-space:pre-wrap;
    width:100%;
    height: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Small Screens */
@media (max-width:600px)
{
    .container-main-page{
        /*display:grid;*/
        height: 90vh;
        width:70%;
        /*grid-template-columns: 1200px;
        grid-template-rows: 250px 600px;*/
        /*grid-gap: 5px;
        grid-template-areas: 
        "hd"
        "pst";*/
        border: 2px solid yellow;
        background:blue;
        margin: auto;
        justify-content: center;
    }
    .blog-posts{
        width: 100vw;
        height: 100%;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        /*grid-area:pst;*/
        position: relative;
        justify-content: center;
        align-items:stretch;
        /*align-items:stretch;*/
        /*display:flex;
        align-items:center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: stretch;*/
    }
    .post-box{
        justify-content:center;
        width: 100%;
        height: 200px;
        align-items: stretch;
        justify-content:center;
        border: 2px solid red;
        background: #F8FA9D;
        margin: 5px;
        overflow:hidden;
      }
    .header{
        /*grid-area: hd;*/
        height: 200px;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }
}
/* Medium Screens Container */
@media (min-width: 601px) and (max-width: 1500px)
{
    .container-main-page{
        /*display:grid;*/
        height: 90vh;
        width:70%;
        /*grid-template-columns: 1200px;
        grid-template-rows: 250px 600px;*/
        /*grid-gap: 5px;
        grid-template-areas: 
        "hd"
        "pst";*/
        border: 2px solid yellow;
        background:blue;
        margin: auto;
        justify-content: center;
    }
    .blog-posts{
        width: 100%;
        height: 100%;
        /*grid-area:pst;*/
        margin:auto;
        display:flex;
        align-items:center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .header{
        /*grid-area: hd;*/
        width: 100%;
        height: 200px;
        margin: auto;
    }
}
/* Large Screens Container */
@media (min-width:1501px)
{
    .container-main-page{
        /*display:grid;*/
        width: 1200px;
        height: 90vh;
        /*grid-template-columns: 1200px;
        grid-template-rows: 250px 600px ;
        grid-gap: 5px;
        grid-template-areas: 
        "hd"
        "pst";*/
        border: 2px solid yellow;
        background:blue;
        margin: auto;
        justify-content: center;
    }
    .blog-posts{
        width: 100%;
        height: 100%;
        margin:auto;
        display:flex;
        align-items:stretch;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .header{
        /*grid-area: hd;*/
        width: 1200px;
        height: 200px;
        margin: auto;
    }
}

