#profile_pic{
    max-width: 100%;
    max-height: 40%;
    margin: auto;
    object-fit: fill;
}
body{
    margin:0px;
    background:black;
}
.box{
    align-items: center;
    border: 2px solid red;
    background: #F8FA9D;
  }
nav {
    padding:5px;
}
nav a{
    text-decoration: none;
    color: white;
}
a:hover{
    font-size:1.2em;
}
@font-face{
    font-family: jpFont;
    src: url("AboveDemoRegular.ttf");

}
/* Small Screens */
@media (max-width:600px)
{
    .container-main-page{
        display:grid;
        width: 100vw;
        height:auto;
        grid-template-areas: 
        "hd"
        "pst"
        "ft";
        margin: auto;
        justify-content: center;
        background:#e3e0e0;
        text-align: center;
    }
    .header{
        grid-area: hd;
        width: 100vw;
        height: 100%;
        margin: auto;
        align-items:top;
        justify-self: center;
        text-align: center;
        background-image: url("gradient.jpg");
        background-size: 100vw;
        padding: 0px;
        font-family: jpFont, monospace;
        font-size: 2.5em;
        color: white;
        text-shadow: -2px 0px 5px #000000;
    }
    #navigation-menu{
        width: 100vw;
        justify-items:end;
        margin: 0px;
        max-height: 70px;
        padding: 8px;
        background: black;
        font-size: 0.5em;
    }
    .about{
        display:none;
    }
    .post{
        padding: 5px;
        margin: 0px;
        width: 100vw;
        height: 100%;
        grid-area:pst;
        text-align:left;
        justify-content: center;
        justify-self: center;
        background: white;
    }
    #returnal2{
        text-align: center;
    }
    #returnal2 img{
        width: 99vw;
    }
    .footer{
        justify-self: end;
        text-align: center;
        width: 100vw;
        grid-area: ft;
        padding: 5px;
        background: rgb(133, 34, 34);
        border-radius: 5px;  
    }
}
/* Large Screens Container */
@media (min-width:601px)
{
    .container-main-page{
        display:grid;
        width: 60%;
        height: 100%;
        grid-gap: 5px;
        grid-template-areas: 
        "hd hd hd hd hd hd"
        "pst pst pst pst abt abt";
        margin: auto;
        justify-content: center;
        background:#e3e0e0;
    }
    .header{
        grid-area: hd;
        width: 100%;
        height: 100%;
        margin: auto;
        justify-self: center;
        text-align: center;
        background-image: url("gradient.jpg");
        background-size: 100%;
        padding: 0px;
        font-family: jpFont, monospace;
        font-size: 2.5em;
        color: white;
        text-shadow: -2px 0px 5px #000000;
    }
    #navigation-menu{
        width: 100%;
        max-height: 70px;
        padding: 8px;
        background: black;
        font-size: 0.5em;
    }
    .about{
        text-align: center;
        width: auto;
        height: 60%;
        grid-area: abt;
        padding: 5px;
        margin-right: 5px;
        margin-left: 3px;
        background: rgb(255, 255, 255);
        border-radius: 5px;

    }
    .post{
        width: auto;
        height: 100%;
        grid-area:pst;
        margin-left: 5px;
        padding: 5px;
        background: white;
        border-radius: 5px;
    }
    #returnal2{
        text-align: center;
    }
    #returnal2 img{
        width: 70%;
        height: 70%;
    }
    .footer{
        visibility: hidden;
    }
}

