body{
    background:black;
}
/*.flex-container{
    display:flex;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}*/
.post-box{
    width: 30%;
    max-height: 400px;
    align-items: center;
    justify-content:center;
    background: rgb(252, 250, 250);
    padding: 5px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(245, 243, 245);
    margin: 5px;
    overflow:visible;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}
.box{
    align-items: center;
    /*justify-content:center;*/
    border: 2px solid red;
    background: #F8FA9D;
  }
.summary{
    white-space:pre-wrap;
    width:100%;
    height: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}
@font-face{
    font-family: jpFont;
    src: url("AboveDemoRegular.ttf");
}
/* Small Screens */
@media (max-width:600px)
{
    .container-main-page{
        /*display:grid;*/
        height: 100vh;
        width:70%;
        /*grid-template-columns: 1200px;
        grid-template-rows: 250px 600px;*/
        /*grid-gap: 5px;
        grid-template-areas: 
        "hd"
        "pst";*/
        border: 2px solid yellow;
        background:blue;
        margin: auto;
        justify-content: center;
    }
    .blog-posts{
        width: 100vw;
        height: 100%;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        /*grid-area:pst;*/
        position: relative;
        justify-content: center;
        align-items:stretch;
        background: white;
        /*align-items:stretch;*/
        /*display:flex;
        align-items:center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: stretch;*/
    }
    .post-box{
        justify-content:center;
        width: 100%;
        height: 200px;
        align-items: stretch;
        justify-content:center;
        border: 2px solid red;
        background: #F8FA9D;
        margin: 5px;
        overflow:hidden;
      }
    .header{
        /*grid-area: hd;*/
        height: 200px;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        background: grey;
    }
}
/* Medium Screens Container */
@media (min-width: 601px) and (max-width: 1500px)
{
    .container-main-page{
        /*display:grid;*/
        height: 100vh;
        width:70%;
        /*grid-template-columns: 1200px;
        grid-template-rows: 250px 600px;*/
        /*grid-gap: 5px;
        grid-template-areas: 
        "hd"
        "pst";*/
        border: 2px solid yellow;
        background:blue;
        margin: auto;
        justify-content: center;
    }
    .blog-posts{
        width: 100%;
        height: 100%;
        /*grid-area:pst;*/
        margin:auto;
        display:flex;
        align-items:center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background: white;
    }
    .header{
        /*grid-area: hd;*/
        width: 100%;
        height: 200px;
        margin: auto;
        background: grey;
    }
}
/* Large Screens Container */
@media (min-width:1501px)
{
    .container-main-page{
        /*display:grid;*/
        width: 1200px;
        height: 100vh;
        /*grid-template-columns: 1200px;
        grid-template-rows: 250px 600px ;
        grid-gap: 5px;
        grid-template-areas: 
        "hd"
        "pst";*/

        margin-left: auto;
        margin-right: auto;
    }
    .blog-posts{
        width: 100%;
        height: 100vh;
        margin:auto;
        display:flex;
        align-items:stretch;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background: white;
    }
    .header{
        /*grid-area: hd;*/
        width: 100%;
        height: 200px;
        text-align: center;
        background-image: url("gradient.jpg");
        font-family: jpFont, monospace;
        font-size: 2.5em;
        color: white;
        text-shadow: -2px 0px 5px #000000;

    }
}

